<form>
    <label for="name">Name: </label>
    <input type="text" [(ngModel)]='user.name' name="user-name" placeholder="Enter name">
    <label for="age">Age: </label>
    <input type="number" [(ngModel)]='user.age' name="user-age" placeholder="Enter age">
    <label for="salary">Salary: </label>
    <input type="text" [(ngModel)]='user.salary'name="user-salary" placeholder="Enter salary">
    <button type="submit" (click)="insertUser()">Submit</button>
    <button (click)="resetUser()">Reset</button>
</form>
