<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
    </thead>
    <tbody>
        <tr *ngFor="let u of user">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.age}}</td>
            <td>{{u.salary}}</td>
            <button (click)="delete(u.id)">Remove</button>
            <button (click)="updateCheck(u)">Edit</button>
        </tr>
    </tbody>
</table>
<form *ngIf="updateForm">
    <label for="id">Id: </label>
    <input type="number" [(ngModel)]='updateUser.id' name="user-id">
    <label for="name">Name: </label>
    <input type="text" [(ngModel)]='updateUser.name' name="user-name">
    <label for="age">Age: </label>
    <input type="number" [(ngModel)]='updateUser.age' name="user-age">
    <label for="salary">Salary: </label>
    <input type="text" [(ngModel)]='updateUser.salary'name="user-salary">
    <button (click)="update(this.updateUser)">Update</button>
</form>